#version: "3.8"

services:
  backend:
    build:
      context: ./backend
    container_name: tutor-backend
    environment:
      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_SERVICE_ROLE_KEY: ${SUPABASE_SERVICE_ROLE_KEY}
      ADMIN_API_KEY: ${ADMIN_API_KEY}
    ports:
      - "4000:4000"

  frontend:     
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
      args:
        VITE_SUPABASE_URL: ${VITE_SUPABASE_URL}
        VITE_SUPABASE_ANON_KEY: ${VITE_SUPABASE_ANON_KEY}
    container_name: tutor-frontend
    depends_on:
      - backend
    restart: unless-stopped
    ports:
      - "5173:80"
    environment:
      - NODE_ENV=production
